albumentations
fingerprint_enhancer
fingerprint_feature_extractor
imutils
ipykernel
ipyfilechooser
matplotlib
numpy
opencv-contrib-python
rembg
scikit-learn
tensorflow
ultralytics
tqdm
pandas
seaborn
typer
